@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400&display=swap");
@mixin tablet {
  @media screen and (max-width: 768px) {
    @content;
  }
}
@mixin ipadpro {
  @media screen and (max-width: 1024px) {
    @content;
  }
}
@mixin mobile {
  @media screen and (max-width: 576px) {
    @content;
  }
}
* {
  padding: 0;
  margin: 0;
  list-style: none;
  border: none;
  text-decoration: none;
  box-sizing: border-box;
  -webkit-overflow-scrolling: touch;
  font-family: "Montserrat", sans-serif;
  // transition-duration: 0.4s;
  // &:hover {
  //   transition: all 0.8s;
  // }

  &:focus {
    outline: 0;
  }
}

body {
  background: #fafafa;
}
.container {
  max-width: 1200px;

  margin: 0 auto;
}

// header

.header {
  width: 100%;
  height: 80px;
  background-color: #fff;
  display: flex;
  margin: 0 auto;
  @include tablet {
    justify-content: space-between;
  }
  .logo {
    width: 258px;
    // min-width: 258px;
    padding: 25px 54px 24.6px 55px;
    @include mobile {
      display: none;
    }
  }
  .logosmall {
    padding: 27px;
    display: none;
    @include mobile {
      display: block;
    }
  }
  .list {
    @include tablet {
      display: none;
    }
    flex: 1;
    padding: 31px 0 31px 0;
    ul {
      display: flex;
      margin-top: auto;
      margin-bottom: auto;
      @include ipadpro {
        margin-left: 0px;
      }
      margin-left: 50px;
      li {
        cursor: pointer;
        @include ipadpro {
          padding-right: 10px;
        }
        padding-right: 30px;
        a {
          color: #464646;
          font-size: 14px;
          line-height: 18px;
          font-weight: 400;
          &:hover {
            color: #025fbf;
          }
        }
        &.active {
          a {
            color: #025fbf;
          }
        }
      }
    }
  }
  .usertools {
    @include mobile {
      width: auto;
      min-width: auto;
    }
    width: 300px;
    min-width: 300px;
    padding: 31px 0 31px 0;
    display: flex;
    align-items: center;
    margin-right: 30px;

    .flag {
      width: 67px;
      height: 32px;
      border-radius: 10px;
      border: 1px solid #fafafa;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 8px 7px;
      cursor: pointer;
    }
    .notfy {
      padding: 32px 6px 30.2px 12.8px;
      cursor: pointer;
    }
    .usersettings {
      width: 194px;
      height: 50px;
      border-radius: 10px;
      border: 1px solid #fafafa;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 8px 15px 8px 15px;
      cursor: pointer;

      span {
        color: #061624;
        font-size: 14px;
        line-height: 34px;
        opacity: 0.7;
      }
      @include mobile {
        display: none;
      }
    }
    .usersettingsmobile {
      display: none;
      @include mobile {
        display: block;
        border-radius: 10px;
        border: 1px solid #fafafa;
        cursor: pointer;
        padding: 8px 0px 8px 15px;
      }
    }
  }
}
//sidebar
.sidebara {
  float: right;
  height: 0;
}
.ant-drawer-content {
  background-color: transparent;
}
.ant-input {
  background-color: rgba(2, 95, 191, 0.1);
  border-radius: 10px;
  color: rgba(6, 22, 36, 0.5);
  width: 238px;
  height: 44px;
  border: none;
  font-size: 12px;
}
.sidebar {
  // width: 258px;
  height: 0;
  .ant-drawer-body {
    .logo {
      width: 258px;
      // min-width: 258px;
      padding: 25px 54px 24.6px 55px;
    }
  }
  .search {
    margin-left: 10px;
    position: relative;
    svg {
      position: absolute;
      top: 16px;
      left: 212px;
      height: 13px;
      width: 13px;
      display: flex;
      align-items: center;
      justify-content: center;
      color: rgba(6, 22, 36, 0.5);
    }
  }
}

//table

.componenttable {
  max-width: 1200px;
  margin: 0 auto;
  margin-top: 29px;
  background: #fafafa;
  // height: 70vh;
  // &::-webkit-scrollbar {
  //   display: none;
  // }
  padding: 30px;

  @include mobile {
    overflow-x: auto;
    margin-top: 47px;
  }
  @include tablet {
    overflow-x: auto;
    margin-top: 47px;
  }
  @include ipadpro {
    overflow-x: auto;
    margin-top: 47px;
  }

  table {
    width: 100%;
    min-width: 1000px;

    border-collapse: collapse;
    text-align: left;

    caption {
      font-size: 22px;
      font-weight: 400;
      color: #030229;
      margin-bottom: 29px;
      text-align: left;
      line-height: 52px;
      caption-side: top;
      padding: 0;
    }

    thead {
      tr {
        th {
          font-size: 12px;
          font-weight: 400;
          line-height: 29px;
          color: #061624;
          padding-bottom: 15px;
          img {
            opacity: 0.6;
            margin-left: 11.4px;
          }
          span {
            opacity: 0.6;
          }
        }
      }
    }

    tbody {
      tr {
        td {
          padding: 20px 0;
          border-top: 0.5px solid rgba(0, 0, 0, 0.05);
          font-size: 14px;
          line-height: 34px;
          color: #061624;
          &:nth-child(2) {
            img {
              border-radius: 100px;
              height: 44px;
              width: 44px;
            }
          }

          span {
            opacity: 0.7;
            display: inline-block;
            // vertical-align: top;
          }
        }
      }
    }
  }
}
.paginate {
  display: flex;
  justify-content: flex-end;

  .paginatebtn {
    @include mobile {
      min-width: 30px;
      height: 30px;
      padding: 6px 9px 7px 12px;
    }
    border: 1px solid rgba(6, 22, 36, 0.1);
    min-width: 45px;
    height: 45px;
    border-radius: 10px;
    margin-right: 10px;
    //   text-align: center;
    padding: 12px 18px 14px 19px;
    transition-duration: 0.4s;
    &:hover {
      background-color: #025fbf;
      cursor: pointer;
      transition: all 0.8s;
      p {
        color: white;
        opacity: 1;
      }
    }
    &.active {
      background-color: #025fbf;
      p {
        color: white;
        opacity: 1;
      }
    }
    p {
      color: #061624;
      font-size: 14px;
      line-height: 19px;
      opacity: 0.7;
    }
  }
}
//timeline
.time {
  position: relative;
  overflow-x: auto;
  &::-webkit-scrollbar {
    display: none;
  }
  .no {
    width: 43px;
    height: 29px;
    background-color: white;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0 0px 6px rgba(0, 0, 0, 0.19);
    line-height: 29px;
    font-size: 13px;
    color: #061624;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
    top: 65px;
    left: 335px;
  }
  .d {
    background-color: #025fbf;
    height: 9px;
    position: absolute;
    width: 500px;
    top: 75px;
    left: 365px;
    z-index: 0;
  }
  table {
    border-collapse: collapse;
    min-width: 900px;
    width: 900px;
    height: 119px;
    border-radius: 10px 10px 10px 10px;
    overflow: hidden;

    tr th {
      &:first-child {
        width: 250px;
        padding-left: 20px;
      }
      &:nth-child(2) {
        width: 60px;
        padding-left: 10px;
      }
      background-color: rgba(2, 95, 191, 0.1);
      // padding: 10px;
      text-align: right;
      position: relative;
      width: 73.75px;
      height: 40px;
      font-weight: 400;

      span {
        position: absolute;
        display: inline-block;
        width: 100px;
        font-size: 16px;
        line-height: 34px;
        color: #061624;
        left: -5px;
        top: 3px;
        font-weight: 400;
      }
    }
    tr td {
      border-left: 1px solid rgba(2, 95, 191, 0.1);
      background-color: white;

      &:first-child {
        border-left: 0;
        padding-left: 20px;
        display: flex;
        color: #061624;
        font-size: 13px;
        display: flex;
        align-items: center;
        height: 80px;

        img {
          padding-left: 21px;
        }
      }
      .speed {
        position: relative;
        p {
          position: absolute;
          left: 17px;
          color: #061624;
          font-size: 13px;
        }
        img {
          position: absolute;
          &:first-child {
            top: -17px;
            left: 16.5px;
          }
          &:nth-child(2) {
            top: -12px;
            left: 22px;
            transform: rotate(120deg);
          }
        }
      }
    }
  }
}
.textalignleft {
  text-align: left !important;
}

.map {
  max-width: 900px;
  padding: 19px 34px 36px 34px;
  border-radius: 20px;
  background-color: #fff;
  box-shadow: 0 0px 10px rgba(0, 0, 0, 0.16);
  margin-top: 36px;
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
}

.map2 {
  max-width: 900px;
  margin-left: auto;
  margin-right: auto;
}

.hot-chocolate-icon {
  background: white;
  border-radius: 50%;
  box-shadow: 0px 0px 10px black;
}

.hot-chocolate-icon:after {
  display: block;
  width: 30px;
  height: 30px;
  // content: "☕";
  font-size: 20px;
}
.badge .leaflet-popup-close-button,
.badge .leaflet-popup-tip-container {
  display: none;
}

.badge .leaflet-popup-content-wrapper,
.badge .leaflet-popup-tip {
  background-color: transparent;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

.leaflet-tooltip {
  position: absolute;
  top: -39px;
  left: 0px;
  z-index: 10;
  min-width: 20px;
  width: 5px !important;
  height: 20px;
  padding: 0;
  color: #fff;
  font-weight: normal;
  font-size: 12px;
  line-height: 20px;
  white-space: nowrap;
  text-align: center;
  background: #f5222d;
  border-radius: 10px;
  border: 0;
  /* optionally add a box shadow
   -webkit-box-shadow: 0 0 0 1px #fff;
  box-shadow: 0 0 0 1px #fff; */
  &::before {
    display: none;
  }
}

.badge .leaflet-popup-content {
  position: absolute;
  top: -5px;
  left: -12px;
  z-index: 10;
  min-width: 20px;
  width: 5px !important;
  height: 20px;
  padding: 0;
  color: #fff;
  font-weight: normal;
  font-size: 12px;
  line-height: 20px;
  white-space: nowrap;
  text-align: center;
  background: #f5222d;
  border-radius: 10px;
  /* optionally add a box shadow
   -webkit-box-shadow: 0 0 0 1px #fff;
  box-shadow: 0 0 0 1px #fff; */
}
// .couirierlist {
//   display: flex;
//   table {
//     table-layout: fixed;
//     width: 100%;
//   }
//   td span {
//     color: #025fbf;
//     font-size: 14px;
//   }

//   table tr td:nth-child(1) {
//     width: 60%;
//   }

//   table tr td:nth-child(2) {
//     width: 40%;
//   }
//   .couirierlist2 {
//     max-width: 900px;
//   }
//   .couirierlist3 {
//     margin-top: 40px;
//     width: 300px;
//     height: 80vh;
//     margin-left: 20px;
//     overflow-y: scroll;
//     overflow-x: hidden;
//     // &::-webkit-scrollbar {
//     //   display: none;
//     // }
//   }
//
// }

.ant-drawer-body {
  table {
    table-layout: fixed;
    width: 100%;
  }
  td span {
    color: #025fbf;
    font-size: 14px;
  }

  table tr td:nth-child(1) {
    width: 60%;
  }

  table tr td:nth-child(2) {
    width: 40%;
  }
  .ant-card-head-title {
    padding: 5px 0;
  }
  .ant-card-bordered {
    border: 0;
  }
}
